*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: DCFFAF;
    min-height: 50vh;
}

header{
    background-color: 6B5B5B;
    height: 20px;
}
.p1{
    color:00B2FF;
    font-family: 'Karantina';
    font-size: 35px;
    padding-top: 30px;
    padding-left: 17px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.p2{
color: white;
position: absolute;
top: 5px;
left: 55%;

}

.nonstop-stalker{
background-color: 838383;
border-radius: 16px;
margin-top: 20px;
width: 350px;
height:126px;
margin-left: 15px;

box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);

display: flex;
}

.info{
    color:FFC700;
    font-size: 18px;

    margin-left: 4px;
    margin-top: 3px;
}

.images{
    border-radius: 14px;
    
}

.infotov{
color:rgb(0, 255, 0);
font-size: 17px;
position: absolute;
margin-left: 132px;
margin-top: 50px;
}

.infoL{
    position: absolute;
margin-left: 132px;
margin-top: 80px;
}

.infoVar{

    position: absolute;
margin-left: 132px;
margin-top: 100px;
    
}

.sellstalker{
    position: absolute;
   color:white;
    width: 90px;
    padding: 2px;
    border-radius: 6px;
    border: 0px;
    background-color: 6D6D6D;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);

    margin-left: 253px;
    margin-top: 100px;
}


 

.nonstop-blue{
    background-color: 838383;
    border-radius: 16px;
    margin-top: 20px;
    width: 350px;
    height:126px;
    margin-left: 15px;
    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    
    display: flex;
    }
    
    .info1{
        color:00D1FF;
        font-size: 18px;
    
        margin-left: 4px;
        margin-top: 3px;
    }
    
    .images1{
        border-radius: 14px;
        
    }
    
    .infotov1{
    color:rgb(0, 255, 0);
    font-size: 17px;
    position: absolute;
    margin-left: 132px;
    margin-top: 50px;
    }
    
    .infoL1{
        position: absolute;
    margin-left: 132px;
    margin-top: 80px;
    }
    
    .infoVar1{
    
        position: absolute;
    margin-left: 132px;
    margin-top: 100px;
        
    }
    
    .sellblue{
        position: absolute;
       color:white;
        width: 90px;
        padding: 2px;
        border-radius: 6px;
        border: 0px;
        background-color: 6D6D6D;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    
        margin-left: 253px;
        margin-top: 100px;
    }




    

    .nonstop-green{
        background-color: 838383;
        border-radius: 16px;
        margin-top: 20px;
        width: 350px;
        height:126px;
        margin-left: 15px;
        
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
        
        display: flex;
        }
        
        .info2{
            color:00FF1A;
            font-size: 18px;
        
            margin-left: 4px;
            margin-top: 3px;
        }
        
        .images2{
            border-radius: 14px;
            
        }
        
        .infotov2{
        color:rgb(255, 0, 0);
        font-size: 17px;
        position: absolute;
        margin-left: 132px;
        margin-top: 50px;
        }
        
        .infoL2{
            position: absolute;
        margin-left: 132px;
        margin-top: 80px;
        }
        
        .infoVar2{
        
            position: absolute;
        margin-left: 132px;
        margin-top: 100px;
            
        }
        
        .sellgreen{
            position: absolute;
           color:white;
            width: 90px;
            padding: 2px;
            border-radius: 6px;
            border: 0px;
            background-color: 6D6D6D;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
        
            margin-left: 253px;
            margin-top: 100px;
        }


        .nonstop-green{
            background-color: 838383;
            border-radius: 16px;
            margin-top: 20px;
            width: 350px;
            height:126px;
            margin-left: 15px;
            
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
            
            display: flex;
            }
            
            .info2{
                color:00FF1A;
                font-size: 18px;
            
                margin-left: 4px;
                margin-top: 3px;
            }
            
            .images2{
                border-radius: 14px;
                
            }
            
            .infotov2{
            color:rgb(255, 0, 0);
            font-size: 17px;
            position: absolute;
            margin-left: 132px;
            margin-top: 50px;
            }
            
            .infoL2{
                position: absolute;
            margin-left: 132px;
            margin-top: 80px;
            }
            
            .infoVar2{
            
                position: absolute;
            margin-left: 132px;
            margin-top: 100px;
                
            }
            
            .sell{
                position: absolute;
               color:white;
                width: 90px;
                padding: 2px;
                border-radius: 6px;
                border: 0px;
                background-color: 6D6D6D;
                box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
            
                margin-left: 253px;
                margin-top: 100px;
            }
    
    
            
    
            .nonstop-purple{
                background-color: 838383;
                border-radius: 16px;
                margin-top: 20px;
                width: 350px;
                height:126px;
                margin-left: 15px;
                
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
                
                display: flex;
                }
                
                .info3{
                    color:00FF1A;
                    font-size: 18px;
                
                    margin-left: 4px;
                    margin-top: 3px;
                }
                
                .images3{
                    border-radius: 14px;
                    
                }
                
                .infotov3{
                color:rgb(255, 0, 0);
                font-size: 17px;
                position: absolute;
                margin-left: 132px;
                margin-top: 50px;
                }
                
                .infoL3{
                    position: absolute;
                margin-left: 132px;
                margin-top: 80px;
                }
                
                .infoVar3{
                
                    position: absolute;
                margin-left: 132px;
                margin-top: 100px;
                    
                }
                
                .sellpurple{
                    position: absolute;
                   color:white;
                    width: 90px;
                    padding: 2px;
                    border-radius: 6px;
                    border: 0px;
                    background-color: 6D6D6D;
                    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
                
                    margin-left: 253px;
                    margin-top: 100px;
                }

                footer{
                    text-align: center;
                }
        
        
                footer button{
                    background-color:D9D9D9;
                    width:130px ;
                    height:25px ;
                    border-radius: 7px;
                    margin-top: 10px;
                }
        