*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: DCFFAF;
}

header{
    background-color: 6B5B5B;
    height: 100px;
}
.p1{
    color:00B2FF;
    font-family: 'Karantina';
    font-size: 35px;
    padding-top: 30px;
    padding-left: 17px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.p2{
color: white;
position: absolute;
top: 5px;
left: 55%;

}

.nonstop-stalker{
background-color: 838383;
border-radius: 16px;
margin-top: 20px;
width: 350px;
margin-left: 15px;

box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);

display: flex;
}

.info{
    color:FFC700;
    font-size: 18px;

    margin-left: 4px;
    margin-top: 3px;
}

.images{
    border-radius: 14px;
}

.infotov{
color:rgb(0, 255, 0);
font-size: 17px;
position: absolute;
margin-left: 132px;
margin-top: 50px;
}

.infoL{
    position: absolute;
margin-left: 132px;
margin-top: 80px;
}

.infoVar{

    position: absolute;
margin-left: 132px;
margin-top: 100px;
    
}

.sellstalker{
    position: absolute;
   color:white;
    width: 90px;
    padding: 2px;
    border-radius: 6px;
    border: 0px;
    background-color: 6D6D6D;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);

    margin-left: 253px;
    margin-top: 100px;
}

